<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
  <li class="list{{id}}">
    <p>
    <div class="burgerIcon"></div>
    <div class="burgerName">{{this.burger_name}}</div>
      <div class="buttondiv">
        <button data-burgerid="{{id}}" class="deleteBurger">Eat Burger!</button>
      </div>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Save burger!</button>
</form>

